
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header" id="recuadro">
                        <h4 class="card-title" id="panel">Pantalla Cobro</h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="formularioCobro">
                            <div class="container" id="formulario">
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Numero de Cedula" id="input" (change)="cedulaChange($event)" formControlName="cedula">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Nombre" type="text" formControlName="nombre" style="color: black">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <mat-select placeholder="Tipo de pago" (selectionChange)="conceptoChange($event)" formControlName="tipoPago">
                                        <mat-option *ngFor="let concepto of conceptos" [value]="concepto">{{concepto}}</mat-option>
                                      </mat-select> 
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Importe" type="number" formControlName="importe" style="color: black;">
                                  </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div>
                          <button mat-raised-button type="submit" class="btn pull-right" (click)="guardarCobro()">Finalizar</button>
                          <button mat-raised-button type="submit" class="btn pull-right" id="cancelar">Cancelar</button>
                        </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
  </div>
  