  <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header" id="recuadro">
                        <h4 class="card-title"id="panel">{{edit === true ? 'Modificar alumna': 'Agregar alumna'}}</h4>
                        <p class="card-category">En caso de no tener dejar en cero</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="formularioRegistro">
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Numero de Cedula" type="text" formControlName="cedula"> 
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Nombre" type="text" formControlName="nombre">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Apellido" type="text" formControlName="apellido">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Cantidad de materias" type="number" formControlName="cantidadMaterias">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-5" *ngIf="edit">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Entrada" type="number" formControlName="entrada">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5" *ngIf="edit">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Vestuario" type="number" formControlName="vestuario">
                                  </mat-form-field>
                                </div>
                                <!-- <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Cantidad de materias" type="number" formControlName="cantidadMaterias">
                                  </mat-form-field>
                                </div> -->
                            </div>
                            <div class="row">
                                <!-- <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Derecho a examen" type="number" formControlName="derechoExamen">
                                  </mat-form-field>
                                </div> -->
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <mat-select placeholder="Cursos" formControlName="curso">
                                        <mat-option *ngFor="let curso of cursos" [value]="curso">{{curso.nombre}}</mat-option>
                                      </mat-select> 
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-5">
                                <mat-radio-group aria-label="Select an option">
                                  <mat-radio-button value="ninguno" id="defaultRadio" [checked]="true" (change)="becaFuncionario($event)"><span style="color: black;">No posee beca ni descuento</span></mat-radio-button>
                                  <mat-radio-button value="beca" (change)="becaFuncionario($event)" style="margin-left:10px"><span style="color: black;">Posee Beca</span></mat-radio-button>
                                  <mat-radio-button value="descuento" (change)="becaFuncionario($event)" style="margin-left:10px"><span style="color: black;">Posee Descuento</span></mat-radio-button>
                                </mat-radio-group>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-5">
                              <div *ngIf="beneficiario">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Descuento de cuota" type="number" formControlName="cantidadDescuento">
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                            <button mat-raised-button (click)="guardarAlumno()" class="btn btn-danger pull-right">Guardar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
