  <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Agregrar alumna</h4>
                        <p class="card-category">En caso de no tener dejar en cero</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="formularioRegistro">
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Numero de Cedula" type="text" formControlName="cedula"> 
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Nombre" type="text" formControlName="nombre">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Apellido" type="text" formControlName="apellido">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Entrada" type="number" formControlName="entrada">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Vestuario" type="number" formControlName="vestuario">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Cantidad de materias" type="number" formControlName="cantidadMaterias">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Derecho a examen" type="number" formControlName="derechoExamen">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Curso" type="text" formControlName="curso">
                                  </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button (click)="guardarAlumno()" class="btn btn-danger pull-right">Guardar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
