  <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header" id="recuadro">
                        <h4 class="card-title"id="panel">Agregrar alumna</h4>
                        <p class="card-category">En caso de no tener dejar en cero</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="formularioRegistro">
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Numero de Cedula" type="text" formControlName="cedula"> 
                                    </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Nombre" type="text" formControlName="nombre">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Apellido" type="text" formControlName="apellido">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Cantidad de materias" type="number" formControlName="cantidadMaterias">
                                  </mat-form-field>
                                </div>
                                <!-- <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Entrada" type="number" formControlName="entrada">
                                  </mat-form-field>
                                </div> -->
                            </div>
                            <div class="row">
                                <!-- <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Vestuario" type="number" formControlName="vestuario">
                                  </mat-form-field>
                                </div> -->
                                <!-- <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Cantidad de materias" type="number" formControlName="cantidadMaterias">
                                  </mat-form-field>
                                </div> -->
                            </div>
                            <div class="row">
                                <!-- <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Derecho a examen" type="number" formControlName="derechoExamen">
                                  </mat-form-field>
                                </div> -->
                                <div class="col-md-5">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Curso" type="text" formControlName="curso">
                                  </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                              <div class="col-md-5">
                                <mat-checkbox name="becaBeneficiario" (change)="becaFunc($event.checked)" [disabled]="beneficiario"><span style="color: black">Posee Beca</span></mat-checkbox>
                              </div>
                          </div>
                          <div class="row">
                            <div class="col-md-5">
                              <mat-checkbox [disabled]="beca" name="becaBeneficiario" (change)="beneficiarioFunc($event.checked)"><span style="color: black;">Posee Descuento</span></mat-checkbox>
                              <div *ngIf="beneficiario">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Descuento de cuota" type="number" formControlName="cantidadMaterias">
                                </mat-form-field>
                              </div>
                            </div>
                          </div>
                            <button mat-raised-button (click)="guardarAlumno()" class="btn btn-danger pull-right">Guardar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
