<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header" id="recuadro">
                      <h4 class="card-title" id="panel" >Administracion de Alumnos</h4>
                  </div>
                  
          <div class="col-md-12">
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-hover">
                              <thead class="">
                                  <th>
                                      N° Cedula
                                  </th>
                                  <th>
                                      Nombre
                                  </th>
                                  <th>
                                      Vestuario
                                  </th>
                                  <th>
                                      Entrada
                                  </th>
                                  <th>
                                      Cantidad de materias
                                  </th>
                                  <th>
                                      Derecho a examen
                                  </th>
                              </thead>
                              <tbody>
                                  <tr *ngFor="let personaAlumno of personaAlumno">
                                      <td>
                                          {{personaAlumno.persona.documento}}
                                      </td>
                                      <td>
                                          {{personaAlumno.persona.nombre}} {{personaAlumno.persona.apellido}}
                                      </td>
                                      <td>
                                          {{personaAlumno.alumno.vestuario}}
                                      </td>
                                      <td>
                                          {{personaAlumno.alumno.entrada}}
                                      </td>
                                      <td>
                                          {{personaAlumno.alumno.cantidad_materias}}
                                      </td>
                                      <td>
                                        {{personaAlumno.alumno.derecho_examen}}
                                    </td>
                                  </tr>
                              </tbody>
                          </table>                    
                    </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
