#barra {
  background-color: #f3f4f7;
}

.logo {
  width: auto;
  padding: 10px;
  display: block;
  margin: 0 auto;
}

.nav-item.active {
  background-color: #8db9ca;
}

.nav-item.active .nav-link {
  background-color: #8db9ca;
}
