<div class="main-content">
  <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header" id="recuadro">
                            <h4 class="card-title" id="panel">Informe por Fechas</h4>
                            <p class="card-category" >Seleccione la fecha desde donde desea buscar y hasta que fecha buscar</p>
                        </div>
                        <div class="card-body">
                            <form>
                              <div class="row">
                                <div class="container">
                                <div class="row">
                                  <div class="col-md-6">
                                    <mat-form-field>
                                      <input matInput [matDatepicker]="picker" placeholder="Fecha desde" (dateChange)="fechaDesdeChange($event)">
                                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                      <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                  </div>
                                  <div class="col-md-6">
                                    <mat-form-field>
                                      <input matInput [matDatepicker]="picker2" placeholder="Fecha hasta" (dateChange)="fechaHastaChange($event)">
                                      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                      <mat-datepicker #picker2></mat-datepicker>
                                    </mat-form-field>
                                  </div>
                                </div>
                              </div>
                              
  
                            </div>
                              <div class="row">
                                <div class="container" id="tabla">
                                <table *ngIf="viewDatasource" mat-table [dataSource]="dataSource" class="mat-elevation-z8" id="tabla">
                    
                                    <!-- Position Column -->
                                    <ng-container matColumnDef="cedula">
                                      <th mat-header-cell *matHeaderCellDef>Cedula</th>
                                      <td mat-cell *matCellDef="let element"> {{element.datosAlumno.sa_persona.documento}} </td>
                                    </ng-container>
                                  
                                    <!-- Name Column -->
                                    <ng-container matColumnDef="nombre">
                                      <th mat-header-cell *matHeaderCellDef>Nombre</th>
                                      <td mat-cell *matCellDef="let element"> {{element.datosAlumno.sa_persona.nombre}} {{element.datosAlumno.sa_persona.apellido}} </td>
                                    </ng-container>

                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="curso">
                                      <th mat-header-cell *matHeaderCellDef>Curso</th>
                                      <td mat-cell *matCellDef="let element"> {{element.datosAlumno.sa_curso.nombre}} </td>
                                    </ng-container>
                                  
                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="concepto">
                                      <th mat-header-cell *matHeaderCellDef>Concepto</th>
                                      <td mat-cell *matCellDef="let element"> {{element.concepto.concepto}} </td>
                                    </ng-container>
                                  
                                    <!-- Symbol Column -->
                                    <ng-container matColumnDef="importe">
                                      <th mat-header-cell *matHeaderCellDef>Importe</th>
                                      <td mat-cell *matCellDef="let element"> {{element.concepto.monto}} Gs.</td>
                                    </ng-container>
                                  
                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                  </table>
                                </div>
                            </div>
                                <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="filtrarPagos()">Buscar</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
 
            </div>
          </div>
        </div>
