<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header" id="recuadro">
                        <h4 class="card-title" id="panel">Configuracion</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="container" id="formulario">
                            <div class="row">
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <mat-select placeholder="Tipo de pago" formControlName="tipoPago">
                                        <!-- <mat-option *ngFor="let concepto of conceptos" [value]="concepto">{{concepto}}</mat-option> -->
                                      </mat-select> 
                                  </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <mat-select placeholder="Curso" formControlName="tipoPago">
                                          <!-- <mat-option *ngFor="let concepto of conceptos" [value]="concepto">{{concepto}}</mat-option> -->
                                        </mat-select> 
                                    </mat-form-field>
                                  </div>
                                <div class="col-md-4">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Monto" type="number" formControlName="importe">
                                  </mat-form-field>
                                </div>
                            </div>
                        </div>
                            <div class="row">
                                <div class="container" id="tabla">

                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn pull-right" >Finalizar</button>
                            <button mat-raised-button type="submit" class="btn pull-right" id="cancelar">Cancelar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            
            
        </div>
    </div>
  </div>